{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block scripts %}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home/main.css' %}">
{% endblock %}

{% block content %}
<div class="home">
    <div class="header border-bottom">
        <h3>All the questions</h3>
    </div>
    <div class="questions-list" id="questions-list">
        {% for item in questions %}
            <div class="question-item border-bottom" onclick="openQuestion('{{item.id_question}}')">
                <h4 class="question-item-title">{{item.title}}</h4>
                <hr>
                {% for label in item.labels %}
                    <div class="selected-label">
                        <span>{{ label.label }}</span>
                    </div>
                {% endfor %}
                <div class="question-item-info"><span>Views: <b>{{item.views}}</b></span><span>Updated at: <b>{{item.updated_at}}</b></span></div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}