{% extends 'base.html' %}
{% load static %}

{% block title %}Question{% endblock %}

{% block scripts %}
    <script src="{% static 'questions/questions.js' %}"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'questions/questions.css' %}">
{% endblock %}

{% block content %}
<div class="questions">
    <div class="header border-bottom">
        <h3>{{ question.title }}</h3>
        {% if question.id_user == id_user %}
        <a href="{% url 'ask' %}" class="btn btn-secondary">Edit</a>
        {% endif %}
    </div>
    <div class="questions-info" id="questions-info">
        <p class="question-item-info">
            <b>Viewed: {{ question.views }}</b>
            <b>Asked: {{ question.created_at }}</b>
            <b>Last update: {{ question.updated_at }}</b>
            <b>Status: {{ question.get_status }}</b>
        </p>

        <hr>

        <!-- I********************************** DESCRIPTION *********************************** -->
        <div class="question-description">
            {{ question.description | safe }}
        </div>
        <!-- E********************************** DESCRIPTION *********************************** -->

        
        <!-- I************************************ LABELS ************************************* -->
        {% for i in labels %}
            <div class="selected-label">
                <span>{{ i.label }}</span>
            </div>
        {% endfor %}
        <!-- E************************************ LABELS ************************************* -->

        <hr>

        <!-- I*********************************** ANSWERS ************************************* -->
        
        <h3>Answers</h3><br>
        <div id="answers-list">
            {% if answers %}
                {% for i in answers %}
                    <div class="answer-item">
                        <div class="cols-2-6">
                            <div class="votes">
                                <svg aria-hidden="true" class="svg-icon iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36">
                                    <path d="M2 25h32L18 9 2 25Z"></path>
                                </svg>
                                <h4>{{ i.votes }}</h4>
                                <svg aria-hidden="true" class="svg-icon iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36">
                                    <path d="M2 11h32L18 27 2 11Z"></path>
                                </svg>
                                {% if i.is_solution %}
                                    <svg aria-hidden="true" class="svg-icon iconCheckmarkLg" width="36" height="36" viewBox="0 0 36 36">
                                        <path d="m6 14 8 8L30 6v8L14 30l-8-8v-8Z"></path>
                                    </svg>
                                {% endif %}
                            </div>
                            <div class="answer-description">{{ i.description | safe }}</div>
                        </div>
                        <p class="right m-0"><small class="m-l-1">{{ i.updated_at|date:"d/m/Y" }}</small></p>
                        <p class="right m-0"><small>- {{ i.user_name }}</small></p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-answers">There are not answers yet... do the first one</p>
            {% endif %}
        </div>

        <!-- E*********************************** ANSWERS ************************************* -->

        <hr>

        <!-- I************************************ EDITOR ************************************* -->

        <div class="pd-tb-1">
            <div class="form-info">
                <h4>Type an answear</h4>
                <small>Remember to include code example to be more clear in the answer.</small>
            </div>
            <input type="hidden" id="question-id" value="{{question.id_question}}">
            <div id="editor" class="input-field"></div>
            
            <a href="#" class="btn btn-secondary" onclick="saveAnswer()">Post Answer</a>
        </div>

        <!-- E************************************ EDITOR ************************************* -->
        
    </div>

</div>
{% endblock %}