{% extends 'base.html' %}
{% load static %}

{% block title %}Questions{% endblock %}

{% block scripts %}
    <script src="{% static 'questions/questions.js' %}"></script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'questions/questions.css' %}">
{% endblock %}

{% block content %}
<div class="questions">
    <div class="header border-bottom">
        <h3>My Questions</h3>
        <a href="{% url 'ask' %}" class="btn btn-secondary">New Question</a>
    </div>
    <div class="questions-list" id="questions-list"></div>
</div>
{% endblock %}